<!-- --------------------------------------------------Category Section-------------------------------------------------- -->
<section class="category container">
  <h2>Whisk Through <span>Categories</span></h2>
  <div class="category-cards column">
    <!-- -------------------------Category Data------------------------- -->
    <a
      [routerLink]="['/categoryFilter', category.strCategory]"
      class="cat-card"
      *ngFor="let category of categories; let i = index"
      (click)="onClick($event)"
    >
      <img src="{{ imgSrc[i] }}" alt="{{ category.strCategory }}" />
      <h3>{{ category.strCategory }}</h3>
    </a>
    <!-- -------------------------End of Category Data------------------------- -->
  </div>
</section>
<!-- --------------------------------------------------End of Category Section-------------------------------------------------- -->
