// --------------------------------------------------Ingredients Section--------------------------------------------------
.ingredient {
  padding: 1em 0;
  .ingredient-cards {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;
    padding: 1em 0;
    .ingre-card {
      align-items: center;
      gap: 1em;
      background: linear-gradient(
        100deg,
        rgba(0, 251, 255, 0) 0%,
        rgba(0, 251, 255, 0.3) 100%
      );
      padding: 0.5em;
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
      transition: 0.3s ease-in-out;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -ms-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      .ingre-title {
        width: 100%;
        h3 {
          text-align: center;
        }
      }
      &:nth-of-type(2n) {
        background: linear-gradient(
          100deg,
          rgba(255, 0, 0, 0) 0%,
          rgba(255, 0, 0, 0.3) 100%
        );
      }
      &:nth-of-type(3n) {
        background: linear-gradient(
          100deg,
          rgba(229, 255, 0, 0) 0%,
          rgba(229, 255, 0, 0.3) 100%
        );
      }
      &:nth-of-type(4n) {
        background: linear-gradient(
          100deg,
          rgba(98, 0, 255, 0) 0%,
          rgba(98, 0, 255, 0.3) 100%
        );
      }
      &:nth-of-type(5n) {
        background: linear-gradient(
          100deg,
          rgba(85, 255, 0, 0) 0%,
          rgba(85, 255, 0, 0.3) 100%
        );
      }
      &:nth-of-type(7n) {
        background: linear-gradient(
          100deg,
          rgba(255, 0, 85, 0) 0%,
          rgba(255, 0, 85, 0.3) 100%
        );
      }
      img {
        object-fit: cover;
        max-width: 80px;
        -webkit-box-reflect: below -10px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.5));
      }

      &:hover {
        scale: 0.95;
      }
    }
  }
}
// --------------------------------------------------End of Ingredients Section--------------------------------------------------
