@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Handlee&family=Poppins:wght@400;500;600&display=swap");

// --------------------------------------------------Variables--------------------------------------------------
$Brand: "Bonheur Royale", cursive;
$Title: "Handlee", cursive;
$Body: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
$White: hsl(0, 0%, 97%);
$Black: hsl(0, 0%, 3%);
$LightBlue: #dcf2f1;
$Gradient: linear-gradient(180deg, rgba(124, 231, 255, 0.2) 0%, #e7f9fd 100%);
$LightBlack: rgba(0, 0, 0, 0.6);
$Transparent: rgba(0, 0, 0, 0.05);
$Blue: #1e55b3;
$Red: #ff1e1e;
// --------------------------------------------------End of Variables--------------------------------------------------
