@import "_variables";

// --------------------------------------------------Common Styles--------------------------------------------------
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: $Body;
  font-weight: 400;
  color: $Black;
}
body {
  background-color: $White;
  margin: 0;
}
img {
  max-width: 100%;
}
h1,
h2,
h4,
p {
  color: $Blue;
  font-family: $Title;
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.row {
  display: flex;
}
.column {
  display: grid;
}
.container {
  max-width: 95%;
  margin: 0 auto;
}
section {
  h1,
  h2 {
    font-weight: 600;
    text-transform: capitalize;
    font-size: clamp(25px, 5vw, 50px);
    padding: 0.5em 0 0;
  }
  h2 {
    padding: 0 0 0.5em;
    font-size: clamp(15px, 5vw, 40px);
  }
  h3 {
    font-weight: 600;
    font-size: 18px;
  }
  span {
    font-weight: 600;
    font-family: $Title;
    color: $Red;
  }
}
.component {
  scroll-margin-top: 7em;
}
// --------------------------------------------------End of Common Styles--------------------------------------------------
