@import "../../variables";

// --------------------------------------------------Cuisines Section--------------------------------------------------
.area {
  padding: 1em 0;
  .area-cards {
    padding: 1em 0 1.5em;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    .area-content {
      flex: 0 0 100%;
      padding: 20px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      aspect-ratio: 1;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
      scroll-snap-align: start;
      transition: all 0.2s;
      overflow: hidden;
      .area-img {
        background-repeat: no-repeat;
        width: 100%;
        aspect-ratio: inherit;
        background-position: center;
        background-size: cover;
        scale: (1.5);
        transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        a {
          width: 100%;
          aspect-ratio: inherit;
          align-items: center;
          justify-content: center;
          background: linear-gradient(
            100deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.4) 100%
          );
          padding: 0.5em;
          h3 {
            color: $White;
            -webkit-text-stroke-width: 1.5px;
            -webkit-text-stroke-color: $Black;
          }
          &:hover {
            background: linear-gradient(
              100deg,
              rgba(255, 255, 255, 0) 0%,
              rgba(255, 255, 255, 0.1) 100%
            );
          }
        }
        &:hover {
          scale: (1.7);
        }
      }

      &:not(:last-child) {
        margin-right: 1em;
      }
    }
    &::-webkit-scrollbar {
      height: 12px;
    }
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
      border-radius: 92px;
    }
    &::-webkit-scrollbar-thumb {
      background: $Blue;
    }
    &::-webkit-scrollbar-track {
      background: $LightBlue;
    }
  }
}
// --------------------------------------------------End of Cuisines Section--------------------------------------------------

// --------------------------------------------------Responsiveness--------------------------------------------------
@media (min-width: 320px) {
  .area {
    .area-cards {
      .area-content {
        flex-basis: calc(50% - 0.5em);
      }
    }
  }
}
@media (min-width: 500px) {
  .area {
    .area-cards {
      .area-content {
        flex-basis: calc(calc(100% / 3) - calc(2em / 3));
        &:not(:last-child) {
          margin-right: 1em;
        }
      }
    }
  }
}
@media (min-width: 700px) {
  .area {
    .area-cards {
      .area-content {
        flex-basis: calc(calc(100% / 4) - calc(3em / 4));
      }
    }
  }
}
@media (min-width: 900px) {
  .area {
    .area-cards {
      .area-content {
        flex-basis: calc(calc(100% / 5) - calc(4em / 5));
      }
    }
  }
}
@media (min-width: 1100px) {
  .area {
    .area-cards {
      .area-content {
        flex-basis: calc(calc(100% / 6) - calc(5em / 6));
      }
    }
  }
}
// --------------------------------------------------End of Responsiveness--------------------------------------------------
